<h2 id='act-head-title'>activities</h2>
<h4 class='act-wr-sub-title'>What do you want to do on your breaks?</h4>
<div class='error' ng-if='activitiesControl.error'>
    <h4 class='error_text' ng-bind='activitiesControl.error'></h4>
</div>
<div class='section-wrapper'>
    <div id='img-wrapper'>
        <div class='opaq-background'></div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Squats</h3>
            <img class='act-img' src='./static/images/squats.jpg' ng-click='activitiesControl.submitSchedule({id: 1, title: "Squats", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Push-Ups</h3>
            <img class='act-img' src='./static/images/pushup.jpg' ng-click='activitiesControl.submitSchedule({id: 2, title: "Push-Ups", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Burpees</h3>
            <img class='act-img' src='./static/images/burp.jpg' ng-click='activitiesControl.submitSchedule({id: 3, title: "Burpees", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Sit-Ups</h3>
            <img class='act-img' src='./static/images/situp.jpg' ng-click='activitiesControl.submitSchedule({id: 4, title: "Sit-Ups", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Go For A Walk</h3>
            <img class='act-img' src='./static/images/walk.jpg' ng-click='activitiesControl.submitSchedule({id: 5, title: "Go For A Walk", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Go For A Run</h3>
            <img class='act-img' src='./static/images/run.jpg' ng-click='activitiesControl.submitSchedule({id: 6, title: "Go For A Run", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Stretches</h3>
            <img class='act-img' src='./static/images/stretch.gif' ng-click='activitiesControl.submitSchedule({id: 7, title: "Series Of Stretches", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Move Your Joints</h3>
            <img class='act-img' src='./static/images/knee.jpg' ng-click='activitiesControl.submitSchedule({id: 8, title: "Move Your Joints", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <!-- <div class='opaq-background'></div> -->
            <h3 class='act-title'>Meditate</h3>
            <img class='act-img' src='./static/images/med.jpg' ng-click='activitiesControl.submitSchedule({id: 9, title: "Meditate", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div>
        <div class='img-div'>
            <h3 class='act-title'>Drink Water</h3>
            <img class='act-img' src='./static/images/water.jpg' ng-click='activitiesControl.submitSchedule({id: 10, title: "Drink Some Water and Get Outside", video: "https://www.youtube.com/watch?v=aPYCiuiB4PA"})'>
        </div><br><br><br>
        <button class='mob_white_btn' id='mob_next_btn' ng-click='activitiesControl.nextPage()'>NEXT</button>
    </div>

</div>