<div id='notification'></div>
<div id='test' ng-hide='timerControl.closeVideo'></div>
<div id='timer-wrap'>
    <div id='timer'>
        <h3 id='time'>0:00:00</h3>
    </div>
    <button ng-hide='timerControl.timerRunning' ng-show='timerControl.resetWorkFlow' ng-click='timerControl.startWorkFlow()'>Start</button>
    <button id='1'ng-click='timerControl.pauseResumeTimer()'><span ng-hide='timerControl.timerPaused' ng-show='!timerControl.timerPaused'>Pause</span><span ng-hide='!timerControl.timerPaused' ng-show='timerControl.timerPaused'>Resume</span></button>
    <button ng-click='timerControl.resetTimer()'>reset</button>
    <div></div>
</div>